.companies {
    padding-top: pxtorem(50px);
    padding-bottom: pxtorem(50px);

    @include mq('tablet') {
        padding-top: pxtorem(100px);
        padding-bottom: pxtorem(100px);
    }

    .container {
        padding-left: pxtorem(10px);
        padding-right: pxtorem(10px);
        display: grid;
        grid-gap: pxtorem(30px);
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));


        @include mq('tablet') {
            padding-left: pxtorem(100px);
            padding-right: pxtorem(100px);
        }
    }

    &__title {
        grid-column: 1/-1;
        color: $primary-color-dark;
    }

    &__img {
        img {
            @include fitImg;
        }
    }
}

.features {
    padding-top: pxtorem(50px);
    padding-bottom: pxtorem(50px);

    @include mq('tablet') {
        padding-top: pxtorem(100px);
        padding-bottom: pxtorem(100px);
    }

    .container {
        padding-left: pxtorem(10px);
        padding-right: pxtorem(10px);
        display: grid;
        grid-gap: pxtorem(30px);
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));


        @include mq('tablet') {
            padding-right: pxtorem(100px);
        }
    }

    &__img {
        background: url('../img/features-bg.png') no-repeat center;
        background-size: contain;

        @include mq('large') {
            transform: translateX(-60px);
        }

        img {
            @include fitImg;

        }
    }

    &__list {
        display: grid;
        grid-gap: pxtorem(40px);

        &-item {

            &:has(.icon) {
                display: grid;
                grid-template-columns: min-content 1fr;
                grid-column-gap: pxtorem(20px);
                align-items: center;
            }

            h3 {
                font-family: $semibold-font;
            }

            p {
                color: $gray-color;
                margin-top: pxtorem(20px);
                grid-column: 2/3;
            }

            &:nth-child(1) {
                h3 {
                    font-size: pxtorem(36px);
                    color: $primary-color-dark;
                }
            }

            &:nth-child(2) {
                h3 {
                    color: $danger-color;
                }

                .icon {
                    background-color: #ffecef;

                    i {
                        color: $danger-color;
                    }
                }
            }

            &:nth-child(3) {
                h3 {
                    color: $info-color;
                }

                .icon {
                    background-color: #f4f4ff;

                    i {
                        color: $info-color;
                    }
                }
            }

            &:nth-child(4) {
                h3 {
                    color: $success-color;
                }

                .icon {
                    background-color: #e4ffee;

                    i {
                        color: $success-color;
                    }
                }
            }

            .icon {
                width: pxtorem(80px);
                height: pxtorem(80px);
                padding: pxtorem(15px);
                border-radius: 50px;
                text-align: center;
                line-height: pxtorem(50px);
                grid-row: 1/3;
            }

        }
    }
}

.smart {
    padding-top: pxtorem(50px);
    padding-bottom: pxtorem(50px);

    @include mq('tablet') {
        padding-top: pxtorem(50px);
        padding-bottom: pxtorem(50px);
    }

    .container {
        padding-left: pxtorem(10px);
        padding-right: pxtorem(10px);
        display: grid;
        grid-gap: 30px;

        @include mq('tablet') {
            padding-left: pxtorem(70px);
            padding-right: pxtorem(70px);

            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(2, 1fr);
            align-items: center;
        }
    }

    &__item {
        display: grid;
        grid-gap: pxtorem(10px);

        &:not(:has(.icon)) {
            h3 {
                color: $primary-color-dark;
                font-family: $semibold-font;
                font-size: pxtorem(40px);
            }

            p {
                padding: pxtorem(35px) pxtorem(35px) pxtorem(35px) pxtorem(45px);
                border-left: 1px solid $border-color;

            }
        }

        &:has(.icon) {
            @include mq('desktop') {
                padding: pxtorem(25px);
            }

            h4 {
                font-size: pxtorem(20px);
            }
        }

        @include mq('tablet') {
            &:nth-of-type(1) {
                grid-row: 1/2;
                grid-column: 1/4;
            }

            &:nth-of-type(2) {
                grid-row: 1/2;
                grid-column: 4/7;
            }

            &:nth-of-type(3) {
                grid-row: 2/3;
                grid-column: 1/3;
            }

            &:nth-of-type(4) {
                grid-row: 2/3;
                grid-column: 3/5;
            }

            &:nth-of-type(5) {
                grid-row: 2/3;
                grid-column: 5/7;
            }
        }
    }
}

.design {
    padding-top: pxtorem(50px);
    padding-bottom: pxtorem(50px);
    border-bottom: 2px solid #f4f4f4;

    @include mq('tablet') {
        padding-top: pxtorem(100px);
        padding-bottom: pxtorem(100px);
    }

    .container {
        padding-left: pxtorem(10px);
        padding-right: pxtorem(10px);
        display: grid;
        grid-gap: pxtorem(30px);

        @include mq('tablet') {
            padding-left: 0;
            padding-right: 0;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }

        @include mq('desktop') {
            padding-right: pxtorem(100px);
            grid-gap: pxtorem(30px) pxtorem(100px);
        }


    }

    &__img {
        @include mq('large') {
            transform: translateX(-30px);
        }

        img {
            @include fitImg;
        }
    }

    &__content {
        display: grid;
        grid-gap: pxtorem(30px);

        h3 {
            color: $primary-color-dark;
            font-size: pxtorem(36px);
            font-family: $semibold-font;
        }

        p {}

        a {
            font-family: $bold-font;
            font-weight: 600;
            max-width: pxtorem(190px);
            border-radius: pxtorem(50px);
            text-align: center;
        }
    }
}

.why {
    padding-top: pxtorem(50px);
    padding-bottom: pxtorem(50px);

    @include mq('tablet') {
        padding-top: pxtorem(100px);
        padding-bottom: pxtorem(100px);
    }

    .container {
        padding-left: pxtorem(10px);
        padding-right: pxtorem(10px);
        display: grid;
        grid-gap: pxtorem(50px);
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        text-align: center;

        @include mq('desktop') {
            padding-left: pxtorem(100px);
            padding-right: pxtorem(100px);
        }
    }

    h3 {
        color: $primary-color-dark;
        font-family: $semibold-font;
        font-size: pxtorem(36px);
        grid-column: 1/-1;
        grid-row: 1/2;

        @include mq('desktop') {
            padding-left: pxtorem(270px);
            padding-right: pxtorem(270px);
        }
    }

    &__text {
        grid-column: 1/-1;
        grid-row: 2/3;

        @include mq('desktop') {
            padding-left: pxtorem(170px);
            padding-right: pxtorem(170px);
        }
    }

    &__item {
        display: grid;
        grid-gap: pxtorem(15px);
        justify-items: center;

        h4 {
            color: $primary-color-dark;
            font-size: pxtorem(20px);
            font-family: $semibold-font;
        }

        p {}
    }
}

.planning {
    padding-top: pxtorem(50px);
    padding-bottom: pxtorem(50px);

    @include mq('tablet') {
        padding-top: pxtorem(100px);
        padding-bottom: pxtorem(100px);
    }

    .container {
        padding-left: pxtorem(10px);
        padding-right: pxtorem(10px);
        display: grid;
        grid-gap: pxtorem(50px);
        align-items: center;

        @include mq('tablet') {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        grid-gap: pxtorem(30px);

        h3 {
            color: $primary-color-dark;
            font-family: $semibold-font;
            font-size: pxtorem(36px);
            grid-column: 1/-1;
            grid-row: 1/2;

            @include mq('desktop') {
                padding-right: pxtorem(190px);
            }
        }

        &-text {
            grid-column: 1/-1;
            grid-row: 2/3;

            @include mq('desktop') {
                padding-right: pxtorem(190px);
            }
        }

        a {
            display: block;
            max-width: pxtorem(170px);
            border-radius: pxtorem(50px);
            text-align: center;
            font-family: $bold-font;
            font-weight: 600;
        }

        &-item {
            display: grid;
            grid-gap: pxtorem(15px);


            h4 {
                color: $primary-color-dark;
                font-size: pxtorem(20px);
                font-family: $semibold-font;
            }

            p {}
        }
    }

    &__img {
        background: url('../img/planning-bg.png') no-repeat center;
        background-size: contain;

        @include mq('large') {
            transform: translateX(75px);
        }

        img {
            @include fitImg;
        }
    }
}

.price {
    padding-top: pxtorem(50px);
    padding-bottom: pxtorem(50px);
    border-bottom: 2px solid #f4f4f4;

    @include mq('desktop') {
        padding-top: pxtorem(100px);
        padding-bottom: pxtorem(100px);
    }

    .container {
        padding-left: pxtorem(10px);
        padding-right: pxtorem(10px);
        display: grid;
        grid-gap: pxtorem(30px);
        justify-items: center;
        text-align: center;
    }

    h3 {
        color: $primary-color-dark;
        font-family: $semibold-font;
        font-size: pxtorem(36px);
        grid-column: 1/-1;
        grid-row: 1/2;

        @include mq('tablet') {
            padding-left: pxtorem(100px);
            padding-right: pxtorem(100px);
        }

        @include mq('desktop') {
            padding-left: pxtorem(270px);
            padding-right: pxtorem(270px);
        }
    }

    &__text {
        grid-column: 1/-1;
        grid-row: 2/3;

        @include mq('tablet') {
            padding-left: pxtorem(100px);
            padding-right: pxtorem(100px);
        }

        @include mq('desktop') {
            padding-left: pxtorem(270px);
            padding-right: pxtorem(270px);
        }
    }

    &__tab-menu {
        border: 1px solid $border-color;
        border-radius: pxtorem(50px);
        max-width: pxtorem(280px);
        display: flex;
        align-items: center;
        column-gap: pxtorem(16px);

        &:has(a:nth-child(1).price__link--active) {
            padding: 0.2125rem 1.75rem 0.2125rem 0.2375rem;
        }

        &:has(a:nth-child(2).price__link--active) {
            padding: 0.2125rem 0.20rem 0.2125rem pxtorem(40px);
        }

        a {
            font-weight: bold;
        }

        .price__link--active {
            max-width: 135px;
            border-radius: pxtorem(50px);
            padding: pxtorem(15px) pxtorem(30px) pxtorem(15px) pxtorem(30px);

            font-family: $bold-font;
            font-weight: 600;
            background-color: $primary-color;
            //transition: all 500ms;

        }
    }

    &__tab-content {
        width: 100%;
    }

    &__tab-item {
        display: none;
        grid-gap: pxtorem(50px);
        grid-template-columns: repeat(auto-fit, minmax(15rem, max-content));
        //grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: start;

        @include mq('tablet') {
            grid-template-columns: repeat(auto-fit, minmax(18rem, max-content));
            //grid-template-columns: repeat(2, 1fr);
        }

        &--active {
            display: grid;
        }
    }

    &__tab-box {
        max-width: pxtorem(315px);
        box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
        border-radius: pxtorem(10px);
    }

    &__tab-top {
        background-color: #f4f7f9;
        border-top-left-radius: pxtorem(10px);
        border-top-right-radius: pxtorem(10px);
        padding: pxtorem(40px) pxtorem(40px);
        text-align: center;

        @include mq('tablet') {
            padding: pxtorem(40px) pxtorem(60px);
        }

        h4 {
            color: $primary-color-dark;
            font-family: $semibold-font;
            font-size: pxtorem(20px);
        }

        p {
            color: $gray-color-light3;
        }
    }

    &__tab-price {
        font-family: $semibold-font;
        font-size: pxtorem(50px);
        color: $primary-color-dark;

        @include mq('tablet') {
            font-size: pxtorem(60px);
        }

        span {
            font-size: pxtorem(18px);
            color: $gray-color-light3;
            font-family: $regular-font;
            margin-left: pxtorem(-15px);
        }
    }

    &__tab-bottom {
        border-bottom-left-radius: pxtorem(10px);
        border-bottom-right-radius: pxtorem(10px);
        padding: pxtorem(40px) pxtorem(30px);
        display: grid;
        grid-gap: pxtorem(20px);
        justify-items: center;

        @include mq('tablet') {
            padding: pxtorem(40px) pxtorem(50px);
        }

        .price__btn {
            display: block;
            border-radius: pxtorem(50px);
            font-family: $semibold-font;
            font-weight: 600;
        }

        p {
            color: $gray-color-light3;
        }

        .trail {
            color: $primary-color;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.testimonials {
    padding-top: pxtorem(50px);
    padding-bottom: pxtorem(50px);

    @include mq('desktop') {
        padding-top: pxtorem(100px);
        padding-bottom: pxtorem(100px);
    }

    .container {
        padding-left: pxtorem(10px);
        padding-right: pxtorem(10px);


        @include mq('tablet') {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;
        }
    }

    &__img {
        img {
            @include mq('tablet') {
                object-fit: contain;
            }
        }
    }

    &__box {
        display: grid;
        grid-gap: pxtorem(30px);
        margin-top: pxtorem(30px);

        @include mq('tablet') {
            margin-top: 0;
        }
    }

    &__title {
        color: $primary-color-dark;
        font-size: pxtorem(40px);
    }

    p {
        color: $gray-color;
    }

    &__item {
        display: none;
        //transform: translateX(500px);
        transition: all 500ms;

        &.active {
            display: grid;
            grid-gap: pxtorem(30px);
            //transform: translateX(0);
        }

        .star {
            i {
                color: #ffcc00;
            }
        }

        &-title {
            color: $primary-color-dark;
            font-size: pxtorem(20px);
            font-family: $semibold-font;
        }

        p {
            color: $gray-color;
        }

        &-user {
            display: grid;
            grid-template-columns: max-content 1fr;
            grid-gap: 30px;

            img {
                grid-column: 1/2;
                grid-row: 1/3;
            }

            h4 {
                font-size: pxtorem(20px);
            }

            p {
                color: $gray-color;
                grid-column: 2/3;
                grid-row: 2/3;
                transform: translateY(-30px);
            }
        }
    }

    &__btn {
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
        //transform: translateY(0px);

        @include mq('tablet') {
            transform: translateY(-110px);
        }

        button {
            padding: 15px;
            border-radius: 50px;

            &:hover {
                cursor: pointer;
            }
        }

        .previous {}

        .next {}

        .notactive {
            background-color: $light-color;
            border: 2px solid #ededed;

        }

        .active {
            color: #310ef9;
            background-color: #eff3f8;
        }
    }
}

.faq {
    padding-top: pxtorem(50px);
    padding-bottom: pxtorem(50px);
    border-bottom: 2px solid #f4f4f4;


    @include mq('desktop') {
        padding-top: pxtorem(100px);
        padding-bottom: pxtorem(100px);
    }

    .container {
        padding-left: pxtorem(10px);
        padding-right: pxtorem(10px);

        @include mq('tablet') {}
    }

    h2 {
        color: $primary-color-dark;
        font-size: pxtorem(40px);
        font-family: $semibold-font;
        text-align: center;
    }

    .subtitle {
        color: $gray-color;
        text-align: center;
        width: 70%;
        margin: 30px auto 0 auto;
    }


    &__item {
        padding: pxtorem(20px) pxtorem(40px);
        background-color: #f5f7fa;
        transition: all 500ms;

        &:nth-of-type(1) {
            margin-top: pxtorem(60px);
        }

        &:has(+ &) {
            margin-bottom: pxtorem(10px);
        }

        &:hover {
            cursor: pointer;
        }



        &-title {
            font-size: pxtorem(20px);
            color: $primary-color-dark;
            font-family: $semibold-font;
            display: flex;
            justify-content: space-between;
        }

        p {
            display: none;
        }

        &.active {
            padding: pxtorem(40px);
            height: 100%;

            p {
                display: block;
            }

            .faq__item-title {
                margin-bottom: pxtorem(30px);
            }
        }

        .faq__item-title {
            margin-bottom: 0;
        }


    }

}

.download {

    .container {
        padding-left: pxtorem(10px);
        padding-right: pxtorem(10px);

        display: flex;
        flex-direction: column;
        align-items: center;

        @include mq('tablet') {
            flex-direction: row;
        }
    }

    &__content {
        &-img {
            display: flex;
            gap: pxtorem(30px);
            flex-wrap: wrap;
            margin-top: pxtorem(30px);

            img {
                max-width: 100%;
                width: initial;
                height: auto;
            }
        }

        h2 {
            font-size: pxtorem(48px);
            font-family: $semibold-font;
            color: $primary-color-dark;
        }

        p {
            color: $gray-color;
            margin-top: pxtorem(30px);
        }
    }

    &__img {
        margin-top: pxtorem(30px);

        @include mq('large') {
            img {
                transform: translateX(125px);
            }
        }
    }
}