.header {
    height: 100%;
    background: url('../assets/img/header-bg.png') #fdfdfe repeat-x bottom center;
    background-size: auto;
    padding-top: pxtorem(10px);


    @include mq('tablet') {
        padding-top: pxtorem(90px);
    }

    .container {
        padding-left: pxtorem(10px);
        padding-right: pxtorem(10px);

    }

    &__navigation {
        display: grid;
        grid-template-columns: max-content 1fr;
        align-items: center;
        grid-column-gap: 30px;

        &-close {
            display: none;
        }

        &-open {
            display: block;
            grid-row: 1/-1;
            grid-column: 2/3;
            text-align: right;

            @include mq('tablet') {
                display: none;
            }
        }

        .header__logo {
            max-width: pxtorem(117px);


            img {
                @include fitImg;
            }
        }

        .navbar {
            grid-row: 2/3;
            grid-column: 1/-1;
            margin-top: pxtorem(20px);

            @include mq('tablet') {
                grid-row: 1/2;
                grid-column: 2/3;
                margin-top: 0;
                justify-self: end;
            }

            &__menu {
                display: none;


                @include mq('tablet') {
                    display: flex;
                    gap: 30px;
                }

                &-item {
                    color: $primary-color-dark;
                    font-weight: 600;
                    border-bottom: 1px solid $gray-color-light2;


                    @include mq('tablet') {
                        border: none;
                    }

                    &:last-child {
                        border: none;
                        margin-top: pxtorem(30px);
                        max-width: pxtorem(170px);

                        @include mq('tablet') {
                            margin-top: 0;
                        }

                        .navbar__menu-item-link {
                            border-radius: 50px;
                            padding-top: pxtorem(20px);
                            padding-bottom: pxtorem(20px);
                        }
                    }

                    &-link {
                        display: block;
                        padding-top: pxtorem(10px);
                        padding-bottom: pxtorem(10px);

                        @include mq('tablet') {}


                    }
                }

                &--show {
                    display: flex;
                    flex-direction: column;
                    background-color: $light-color;
                }
            }
        }
    }

    &__info {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: space-between;
        justify-items: end;
        margin-top: 1rem;
        grid-column-gap: pxtorem(100px);

        @include mq('tablet') {
            margin-top: pxtorem(50px);
            grid-template-columns: repeat(2, 1fr);
        }

        @include mq('desktop') {
            padding-left: pxtorem(70px);
            padding-right: pxtorem(70px);
        }

        &-img {
            img {
                @include fitImg;
            }
        }

        &-left {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: pxtorem(40px);
            grid-column-gap: pxtorem(20px);
            align-items: center;

            p:first-child {
                grid-column: 1/-1;
                padding: 10px 10px 10px 0px;
                background-color: $gray-color-light2;
                border-radius: 50px;
                font-family: $regular-font;
                font-size: pxtorem(14px);
                color: $primary-color-dark;
                max-width: pxtorem(370px);

                @include mq('tablet') {
                    padding: 10px 30px 10px 0px;
                    font-size: pxtorem(18px);
                }

                span {
                    background-color: $orange-color;
                    padding: 12px 15px;
                    border-radius: 50px;

                    @include mq('tablet') {
                        margin-right: pxtorem(20px);
                    }
                }
            }

            h3 {
                grid-column: 1/-1;
                font-family: $semibold-font;
                font-size: pxtorem(60px);
                color: $primary-color-dark;
            }

            p:nth-child(3) {
                grid-column: 1/-1;
                font-size: pxtorem(18px);
                color: $gray-color;
            }

            a {
                font-family: $bold-font;

            }

            .free__btn {
                font-weight: 600;
                border-radius: 50px;
                grid-row: 4/5;
                grid-column: 1/-1;
                max-width: pxtorem(170px);
            }

            .video__link {
                color: $primary-color;
                font-weight: 500;
                grid-row: 5/6;
                grid-column: 1/-1;

                @include mq('tablet') {
                    grid-row: 4/5;
                    grid-column: 2/3;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}